nav{
    height: 60px;
    
}

nav .search-bar {
    background-color: #e5e5e5;
    padding: 4px ;
    border-radius: 4px;
    color: #767676;
}




nav .items .element{
    font-size: 18px;
}

nav .items .element:last-child{
    color: #f98c00;
}

nav .items .element img{
    vertical-align: unset;
}

.my-ext-container{
    height: calc(100vh - 60px);
    
}

.my-ext-container aside{
    width: 120px;
    height: 100%;
    background-color: blue;
}

.my-inner-container{
    
    height: 100%;
    width: 100%;
}

.my-inner-container header{
    background-color: green;
    min-height: 80px;
}

.my-fluid-container{
    height: calc(100% - 80px);
    background-color: brown;
}

