.test{
    background-color: red;
    height: 60px;
}


.my-nav{
    height: 60px;
    
}

.my-nav .search-bar {
    background-color: #e5e5e5;
    padding: 4px ;
    border-radius: 4px;
    color: #767676;
}




.my-nav .items .element{
    font-size: 18px;
}

.my-nav .items .element:last-child{
    color: #f98c00;
}

.my-nav .items .element img{
    vertical-align: unset;
}

.my-ext-container{
    height: calc(100vh - 60px);
    
}

.my-ext-container aside{
    max-width: 120px;
    width: 100%;
    
    background-image: url("img/sidebar-bg.png");
    background-color: #0e263c;
}

@media screen and (min-width:0 ) and (max-width:767px){
    .my-ext-container aside{
        max-width: 60px;
    }
    .upper-aside{
        align-items: center;
    }

    .lower-aside{
        display: flex;
        justify-content: center;
    }

    
}

.my-ext-container aside .my-row{
    font-size: 14px;
    cursor: pointer;
}

.my-ext-container aside .my-row:hover{
    background-color: #828f98;
    padding: 2px 8px
}

.my-inner-container{
    
    height: 100%;
    width: 100%;
}

.my-inner-container header{
    background-color: #1b72e8;
    min-height: 80px;
}

header .row .col-6 span , .breadcrumb-item{
    font-size: 12px;
    padding: 1px 5px ; 

    border-radius: 11px;
    background-color: #165bba;
}

header .row h4{
    font-weight: 600;
}

header .col-4 span:first-child , header .col-2 span {
    font-size: 12px 
}

header .col-md-3 .my-btn{
    border: 1px solid white;
    color: white;
    
    background-color: transparent;
    padding: 0px 9px 4px 9px;
    border-radius: 4px;
    
}

header .col-2 .my-btn span{
    font-size: 20px;
}


    


.my-fluid-container{
    height: calc(100% - 100px);
    background-color: #f8f9fa;
}

@media  screen and (max-width:576px){
    .my-fluid-container{
        height: calc(100% - 153px);
    }
}

 td img {
    width: 25px;
}

td i{
    border: 1px solid #6c757d;
    color: #6c757d;
    padding: 4px;
    border-radius: 4px;

}

.my-table{
    font-size: 12px;
    height: 300px;
}

.green{
    background-color: green;
    padding: 1px 4px;
    border-radius: 8px;
    color: white;
}

.yellow{
    background-color: yellow;
    padding: 1px 4px;
    border-radius: 8px;
    color: white; 
}

.red{
    background-color: red;
    padding: 1px 4px;
    border-radius: 8px;
    color: white; 
}

.my-card-text{
    font-size: 12px;
}

.offcanvas-size-xl {
    --bs-offcanvas-width: max(50vw) !important;
}

@media screen and (min-width:0 ) and (max-width:767px){
    .offcanvas-size-xl{
        --bs-offcanvas-width: max(100vw) !important;
    }
}

.my-offcanvas-btn{
    background-color: #eaedf2;
}

@media screen and (max-width:576px){
    .disappear{
        display: none;
    }
}